<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DATN_STMDT_THELIEMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DATN_STMDT_THELIEMS.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DATN_STMDT_THELIEMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductDetails" asp-action="ProductDetails">ProductDetails</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light pt-4">
        <div class="container">
            <div class="row">
                <!-- Hỗ trợ khách hàng -->
                <div class="col-lg-3 col-md-6 mb-4">
                    <h6 class="fw-bold">Hỗ trợ khách hàng</h6>
                    <ul class="list-unstyled">
                        <li>Hot line 1900-6035</li>
                        <li>(1000 đ/phút, 8-21h kể cả T7, CN)</li>
                        <li>Các câu hỏi thường gặp</li>
                        <li>Gửi yêu cầu hỗ trợ</li>
                        <li>Hướng dẫn đặt hàng</li>
                        <li>Phương thức vận chuyển</li>
                        <li>Chính sách đổi trả</li>
                        <li>Hướng dẫn trả góp</li>
                        <li>Chính sách hàng nhập khẩu</li>
                        <li>Hỗ trợ khách hàng:</li>
                        <li>Báo lỗi bảo mật</li>
                    </ul>
                </div>

                <!-- Về chúng tôi -->
                <div class="col-lg-3 col-md-6 mb-4">
                    <h6 class="fw-bold">Về chúng tôi</h6>
                    <ul class="list-unstyled">
                        <li>Giới thiệu về Tiki</li>
                        <li>Tiki Blog</li>
                        <li>Tuyển dụng</li>
                        <li>Chính sách bảo mật thanh toán</li>
                        <li>Chính sách bảo mật thông tin cá nhân</li>
                        <li>Chính sách giải quyết khiếu nại</li>
                        <li>Điều khoản sử dụng</li>
                        <li>Tiếp thị liên kết cùng Tiki</li>
                        <li>Bán hàng doanh nghiệp</li>
                        <li>Điều kiện vận chuyển</li>
                    </ul>
                </div>

                <!-- Hợp tác và liên kết -->
                <div class="col-lg-2 col-md-6 mb-4">
                    <h6 class="fw-bold">Hợp tác và liên kết</h6>
                    <ul class="list-unstyled">
                        <li>Cơ chế hoạt động sàn GDTMDT</li>
                        <li>Bán hàng cùng Tiki</li>
                    </ul>
                </div>

                <!-- Phương thức thanh toán -->
                <div class="col-lg-2 col-md-6 mb-4">
                    <h6 class="fw-bold">Phương thức thanh toán</h6>
                    <ul class="list-unstyled d-flex">
                        <li><img src="https://logos-world.net/wp-content/uploads/2020/04/Visa-Emblem.jpg" alt="Visa" class="me-2" width="40"></li>
                        <li><img src="https://seeklogo.com/images/M/momo-logo-ED8A3A0DF2-seeklogo.com.png" alt="Momo" class="me-2" width="40"></li>
                        <li><img src="https://cardtot.com/wp-content/uploads/2020/01/zalopay.png" alt="ZaloPay" class="me-2" width="40"></li>
                        <!-- Add other payment logos similarly -->
                    </ul>
                </div>

                <!-- Kết nối với chúng tôi -->
                <div class="col-lg-2 col-md-6 mb-4">
                    <h6 class="fw-bold">Kết nối với chúng tôi</h6>
                    <ul class="list-unstyled d-flex">
                        <li><a href="#"><img src="https://lp-philibert-de-l-orme.fr/wp-content/uploads/2022/04/facebook-logo-3-1-1024x1024.png" alt="Facebook" width="40" class="me-2"></a></li>
                        <li><a href="#"><img src="https://www.abenoharukas-300.jp/images2/icon_youtube.png" alt="YouTube" width="40" class="me-2"></a></li>
                        <li><a href="#"><img src="https://1000logos.net/wp-content/uploads/2022/02/Zalo-Logo-2048x1152.png" alt="Zalo" width="40" class="me-2"></a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="row pt-3 border-top">
                <div class="col-12 text-center">
                    <p class="small text-muted mb-0">
                        Trụ sở chính: Tòa nhà Viettel, Số 285, đường Cách Mạng Tháng 8, phường 12, quận 10, Thành phố Hồ Chí Minh <br>
                        © 2022 - Bản quyền của Công ty TNHH Ti Ki
                    </p>
                </div>
            </div>
        </div>
    </footer>
     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
